*{
	margin: 0;
}

#navbar{
	padding:15px;
	background: green;
}

#navbar ul{
	align-items: end;
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
}
#navbar a{
	color: white;
}

#navbar li{
	margin:10px; 
}
a {
	text-decoration: none;
}

#welcome-section{
	height: 100vh;
	color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

#projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.project-tile{
	min-height: 400px;
	width:30%;
	background: green;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-tile a{
	color: white;
	font-size: 35px;
}

#contact{
	padding: 50px 20px;
}

#contact h1{
	text-align: center;
}

#about ul{
 	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}
#about a {
	color: green;
	margin: 10px;
}